---
---

<section id="contact" class="bg-white dark:bg-gray-900">
  <div class="container mx-auto flex flex-col items-center justify-between">
    <div class="mx-auto max-w-screen-xl py-8 px-4 lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
        <h2
          class="text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white lg:text-4xl"
        >
          <span
            class="bg-gradient-to-r from-sky-400 to-emerald-600 bg-clip-text text-transparent"
            >Contact</span
          > Me
        </h2>
      </div>
    </div>
    <div class="lg:grid-cols mb-16 grid w-5/6 max-w-3xl gap-8">
      <form name="contact" method="POST" data-netlify="true" class="space-y-8">
        <div>
          <label
            for="email"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-gray-300"
            >Your email</label
          >
          <input
            type="email"
            name="email"
            id="email"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:shadow-sm-light dark:focus:border-primary-500 dark:focus:ring-primary-500"
            placeholder="example@example.com"
            required
          />
        </div>
        <div>
          <label
            for="subject"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-gray-300"
            >Subject</label
          >
          <input
            type="text"
            name="name"
            id="subject"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 shadow-sm focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:shadow-sm-light dark:focus:border-primary-500 dark:focus:ring-primary-500"
            placeholder="Let me know how I can help you"
            required
          />
        </div>
        <div class="sm:col-span-2">
          <label
            for="message"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-gray-400"
            >Your message</label
          >
          <textarea
            id="message"
            name="message"
            rows="6"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
            placeholder="Leave a comment..."></textarea>
        </div>
        <button
          type="submit"
          class="mr-2 mb-2 rounded-lg bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 px-5 py-2.5 text-center text-sm font-medium text-white shadow-lg shadow-purple-500/50 hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-purple-300 dark:shadow-lg dark:shadow-purple-800/80 dark:focus:ring-purple-800"
          >Send message</button
        >
      </form>
    </div>
  </div>
</section>

<!-- <section id="contacts" class="bg-white dark:bg-gray-900">
  <div class="container mx-auto flex flex-wrap items-center justify-between">
    <div class="mx-auto max-w-screen-md py-8 px-4 lg:py-16">
      <h2
        class="mb-4 text-center text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white"
      >
        <span
          class="bg-gradient-to-r from-sky-400 to-emerald-600 bg-clip-text text-transparent"
          >Contact</span
        > Me
      </h2>
      <div class="w-full">
        <form
          name="contact"
          method="POST"
          data-netlify="true"
          class="space-y-8"
        >
          <div>
            <label
              for="email"
              class="mb-2 block text-sm font-medium text-gray-900 dark:text-gray-300"
              >Your email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:shadow-sm-light dark:focus:border-primary-500 dark:focus:ring-primary-500"
              placeholder="example@example.com"
              required
            />
          </div>
          <div>
            <label
              for="subject"
              class="mb-2 block text-sm font-medium text-gray-900 dark:text-gray-300"
              >Subject</label
            >
            <input
              type="text"
              name="name"
              id="subject"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 shadow-sm focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:shadow-sm-light dark:focus:border-primary-500 dark:focus:ring-primary-500"
              placeholder="Let me know how I can help you"
              required
            />
          </div>
          <div class="sm:col-span-2">
            <label
              for="message"
              class="mb-2 block text-sm font-medium text-gray-900 dark:text-gray-400"
              >Your message</label
            >
            <textarea
              id="message"
              name="message"
              rows="6"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
              placeholder="Leave a comment..."></textarea>
          </div>
          <button
            type="submit"
            class="mr-2 mb-2 rounded-lg bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 px-5 py-2.5 text-center text-sm font-medium text-white shadow-lg shadow-purple-500/50 hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-purple-300 dark:shadow-lg dark:shadow-purple-800/80 dark:focus:ring-purple-800"
            >Send message</button
          >
        </form>
      </div>
    </div>
  </div>
</section> -->
