---
---

<footer class="p-4 bg-white sm:p-6 dark:bg-gray-800">
  <div class="container mx-auto">
    <div class="mx-auto max-w-screen-xl">
      <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0 flex flex-col justify-between">
          <a href="/" class="flex items-center">
            <img src="favicon.svg" class="mr-3 h-8" alt="FlowBite Logo" />
            <span
              class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
              >Prosenjit Joy</span
            >
          </a>
          <span class="text-sm text-gray-500 sm:text-left dark:text-gray-400"
            >Copyright © <span id="copyright"></span>. All rights reserved.
          </span>
        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
          <div>
            <h2
              class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
            >
              Resources
            </h2>
            <ul class="text-gray-600 dark:text-gray-400">
              <li class="mb-2">
                <a href="https://flowbite.com" class="hover:underline"
                  >Flowbite</a
                >
              </li>
              <li class="mb-2">
                <a href="https://tailwindcss.com/" class="hover:underline"
                  >TailwindCSS</a
                >
              </li>
              <li>
                <a href="https://astro.build/" class="hover:underline">Astro</a>
              </li>
            </ul>
          </div>

          <div>
            <h2
              class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
            >
              Follow me
            </h2>
            <ul class="text-gray-600 dark:text-gray-400">
              <li class="mb-2">
                <a href="https://github.com/csjoy/" class="hover:underline"
                  >Github</a
                >
              </li>
              <li class="mb-2">
                <a
                  href="https://www.linkedin.com/in/csjoy/"
                  class="hover:underline">Linkedin</a
                >
              </li>
              <li>
                <a href="https://quay.io/user/csjoy/" class="hover:underline"
                  >Quay</a
                >
              </li>
            </ul>
          </div>
          <div>
            <h2
              class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
            >
              Coding sites
            </h2>
            <ul class="text-gray-600 dark:text-gray-400">
              <li class="mb-2">
                <a
                  href="https://www.beecrowd.com.br/judge/en/profile/222729/"
                  class="hover:underline">beecrowd</a
                >
              </li>
              <li class="mb-2">
                <a
                  href="https://www.hackerrank.com/csjoy/"
                  class="hover:underline">HackerRank</a
                >
              </li>
              <li>
                <a href="https://leetcode.com/csjoy/" class="hover:underline"
                  >LeetCode</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
