---
---

<footer class="p-4 bg-gray-50 sm:p-6 dark:bg-gray-800">
  <div class="container mx-auto">
    <div class="mx-auto max-w-screen-xl">
      <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0 flex flex-col justify-between">
          <a href="/" class="flex items-center mb-2">
            <img src="favicon.webp" class="mr-3 h-8" alt="FlowBite Logo" />
            <span
              class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
              >Prosenjit Joy</span
            >
          </a>
          <span class="text-sm text-gray-500 sm:text-left dark:text-gray-400"
            >Copyright © <span id="copyright"></span>. All rights reserved.
          </span>
        </div>
        <div class="grid md:grid-cols-2 gap-8">
          <div>
            <h2
              class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
            >
              Follow me
            </h2>
            <div class="flex gap-8">
              <ul class="text-gray-600 dark:text-gray-400">
                <li class="mb-2">
                  <a href="https://github.com/csjoy/" class="hover:underline"
                    >Github</a
                  >
                </li>
                <li class="mb-2">
                  <a
                    href="https://www.linkedin.com/in/csjoy/"
                    class="hover:underline">Linkedin</a
                  >
                </li>
                <li>
                  <a href="https://wa.link/p17itd/" class="hover:underline"
                    >WhatsApp</a
                  >
                </li>
              </ul>
              <ul class="text-gray-600 dark:text-gray-400">
                <li class="mb-2">
                  <a
                    href="https://join.skype.com/invite/Car0VYauVUst/"
                    class="hover:underline">Skype</a
                  >
                </li>
                <li class="mb-2">
                  <a
                    href="https://twitter.com/prosen_joy/"
                    class="hover:underline">Twitter</a
                  >
                </li>
                <li>
                  <a
                    href="https://discordapp.com/users/434335724435668993/"
                    class="hover:underline">Discord</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div>
            <h2
              class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
            >
              Coding sites
            </h2>
            <div class="flex gap-8">
              <ul class="text-gray-600 dark:text-gray-400">
                <li class="mb-2">
                  <a
                    href="https://www.beecrowd.com.br/judge/en/profile/222729/"
                    class="hover:underline">beecrowd</a
                  >
                </li>
                <li class="mb-2">
                  <a
                    href="https://www.hackerrank.com/csjoy/"
                    class="hover:underline">HackerRank</a
                  >
                </li>
                <li>
                  <a
                    href="https://uhunt.onlinejudge.org/id/672007/"
                    class="hover:underline">OnlineJudge</a
                  >
                </li>
              </ul>
              <ul class="text-gray-600 dark:text-gray-400">
                <li class="mb-2">
                  <a
                    href="https://codeforces.com/profile/csjoy/"
                    class="hover:underline">Codeforces</a
                  >
                </li>
                <li class="mb-2">
                  <a href="https://leetcode.com/csjoy/" class="hover:underline"
                    >LeetCode</a
                  >
                </li>
                <li>
                  <a
                    href="https://atcoder.jp/users/csjoy/"
                    class="hover:underline">AtCoder</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
