---
---

<!-- HTML Meta Tags -->
<title>Prosenjit Joy</title>
<meta
  name="description"
  content="Personal website of Prosenjit Majumder Joy. The site contains about me, skills, projects, certificates and contact section."
/>

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://prosenjitjoy.ml/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Prosenjit Joy" />
<meta
  property="og:description"
  content="Personal website of Prosenjit Majumder Joy. The site contains about me, skills, projects, certificates and contact section."
/>
<meta property="og:image" content="https://prosenjitjoy.ml/opengraph.png" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="prosenjitjoy.ml" />
<meta property="twitter:url" content="https://prosenjitjoy.ml/" />
<meta name="twitter:title" content="Prosenjit Joy" />
<meta
  name="twitter:description"
  content="Personal website of Prosenjit Majumder Joy. The site contains about me, skills, projects, certificates and contact section."
/>
<meta name="twitter:image" content="https://prosenjitjoy.ml/opengraph.png" />
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"
></script>
