<section id="skills" class="bg-gray-50 dark:bg-gray-800">
  <div
    class="container mx-auto flex flex-col items-center justify-between pb-16"
  >
    <div class="mx-auto max-w-screen-xl py-8 px-4 lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center lg:mb-4">
        <h2
          class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 shadow-lg dark:text-white dark:shadow-black lg:text-4xl"
        >
          <span
            class="bg-gradient-to-r from-sky-400 to-emerald-600 bg-clip-text text-transparent"
            >Skills</span
          > Level
        </h2>
      </div>
    </div>
    <div class="lg:grid-cols grid w-5/6 gap-8 md:w-4/6">
      <div class="flex flex-col gap-2">
        <div class="flex justify-between">
          <span class="text-base font-medium text-blue-700 dark:text-white"
            >HTML/CSS</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-white"
            >70%</span
          >
        </div>
        <div class="h-2.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
          <div class="h-2.5 rounded-full bg-red-600" style="width: 70%"></div>
        </div>
      </div>
      <!-- <div class="flex flex-col gap-2">
        <div class="flex justify-between">
          <span class="text-base font-medium text-blue-700 dark:text-white"
            >C/C++</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-white"
            >60%</span
          >
        </div>
        <div class="h-2.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
          <div class="h-2.5 rounded-full bg-blue-600" style="width: 60%"></div>
        </div>
      </div> -->
      <div class="flex flex-col gap-2">
        <div class="flex justify-between">
          <span class="text-base font-medium text-blue-700 dark:text-white"
            >Go</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-white"
            >60%</span
          >
        </div>
        <div class="h-2.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
          <div class="h-2.5 rounded-full bg-teal-500" style="width: 60%"></div>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex justify-between">
          <span class="text-base font-medium text-blue-700 dark:text-white"
            >Bash/Shell</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-white"
            >60%</span
          >
        </div>
        <div class="h-2.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
          <div class="h-2.5 rounded-full bg-green-400" style="width: 60%"></div>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex justify-between">
          <span class="text-base font-medium text-blue-700 dark:text-white"
            >Docker/Podman</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-white"
            >60%</span
          >
        </div>
        <div class="h-2.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
          <div class="h-2.5 rounded-full bg-black" style="width: 60%"></div>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex justify-between">
          <span class="text-base font-medium text-blue-700 dark:text-white"
            >Tailwind CSS</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-white"
            >50%</span
          >
        </div>
        <div class="h-2.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
          <div class="h-2.5 rounded-full bg-sky-500" style="width: 50%"></div>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex justify-between">
          <span class="text-base font-medium text-blue-700 dark:text-white"
            >Svelte</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-white"
            >50%</span
          >
        </div>
        <div class="h-2.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
          <div class="h-2.5 rounded-full bg-orange-600" style="width: 50%">
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex justify-between">
          <span class="text-base font-medium text-blue-700 dark:text-white"
            >Astro</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-white"
            >50%</span
          >
        </div>
        <div class="h-2.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
          <div class="h-2.5 rounded-full bg-orange-500" style="width: 50%">
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex justify-between">
          <span class="text-base font-medium text-blue-700 dark:text-white"
            >JavaScript</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-white"
            >40%</span
          >
        </div>
        <div class="h-2.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
          <div class="h-2.5 rounded-full bg-yellow-400" style="width: 40%">
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <div class="flex justify-between">
          <span class="text-base font-medium text-blue-700 dark:text-white"
            >MariaDB</span
          >
          <span class="text-sm font-medium text-blue-700 dark:text-white"
            >40%</span
          >
        </div>
        <div class="h-2.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
          <div class="h-2.5 rounded-full bg-green-700" style="width: 40%"></div>
        </div>
      </div>
    </div>
  </div>
</section>
