---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Scripts from "../components/Scripts.astro";
import Fixed from "../components/Fixed.astro";
import Seo from "../components/Seo.astro";

const { title } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/webp" href="/img/favicon.webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <Seo />
  </head>
  <body>
    <Nav />
    <main>
      <slot>Default Text</slot>
    </main>
    <Footer />
    <Fixed />
    <Scripts />
  </body>
</html>
